<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ProTip</title>
    <meta name="description" content="Keeps track of how much time you spend on various web sites and records blockchain hashes for later tipping.">

    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-responsive-override.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/protip.css">

    <script src="../lib/jquery-2.1.3.min.js"></script>
    <script src="../assets/jquery-ui/jquery-ui.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="../lib/ydn-db.min.js"></script>
    <script src="../js/ydn-db-schema.js"></script>
    <script src="../js/ui-utils.js"></script>
    <script src="../controllers/redirect.js"></script>
</head>

<body>



</body>

</html>