{% set page = { name: 'blacklist' } %}
<!DOCTYPE html>
<head>
    {% include "head.html" %}
    <script src="../controllers/blacklist.js"></script>
</head>

<body>
    {% include "navbar.html" %}

    <label class="ios-subheading">IGNORED URL</label>
    <div style="background-color:#fff;
                padding:10px;
                border-bottom: solid #ccc 1px;
                margin-bottom:10px;">
        <div class="ios-element-divider">
            <input type="text" id="add-to-blacklist" style="width:435px;margin:5px;" placeholder="http://example.com"></input>
            <button class="btn btn-primary btn-xs" id="add-selected-btn">Add</button>
        </div>

        <select style="width:434px;margin:5px;" id="remove-from-blacklist" MULTIPLE size="10">
        </select>
        <button class="btn btn-primary btn-xs remove-button-select" id="remove-selected-btn">
            Remove Selected
        </button>
    </div>


    <label class="ios-subheading">IGNORED DOMAINS</label>
    <div class="ios-section">
        <div class="ios-element-divider">
            <input type="text" id="add-blacklisted-hostnames" style="width:200px;margin:5px;" placeholder="example.com">
            </input>
            <button class="btn btn-primary btn-xs" id="add-selected-blacklisted-hostnames-btn">
                Add
            </button>
        </div>

        <select style="width:200px;margin:5px;" id="remove-from-blacklisted-hostname" MULTIPLE size="10">
        </select>
        <button class="btn btn-primary btn-xs remove-button-select" id="remove-selected-blacklisted-hostnames-btn">
            Remove Selected
        </button>
    </div>


    <label class="ios-subheading">IGNORED BITCOIN ADDRESSES</label>
    <div class="ios-section">
        <div class="ios-element-divider">
            <input type="text" id="add-blacklisted-bitcoin-address" style="width:350px;margin:5px;" placeholder="13U4gmroMmFwHAwd2Sukn4fE2WvHG6hP8e">
            </input>
            <button class="btn btn-primary btn-xs" id="add-blacklisted-bitcoin-address-btn">
                Add
            </button>
        </div>

        <select style="width:350px;margin:5px;" id="remove-from-blacklisted-bitcoin-addresses" MULTIPLE size="10">
        </select>
        <button class="btn btn-primary btn-xs remove-button-select" id="remove-selected-blacklisted-bitcoin-addresses-btn">
            Remove Selected
        </button>
    </div>

</body>

</html>
