{% set page = { name: 'blacklist' } %}
<!DOCTYPE html>
<head>
    {% include "head.html" %}
    <script src="../controllers/feedback.js"></script>
</head>
<body>
    {% include "navbar.html" %}
    <!--
      <ol>
        <li>
          Send secure high value messages to your loyal subscribers.
          Messages require a small fee to be paid to the recipient.
        </li>
        <li>
          Selectively and securely provide exclusive rewards to your
          subscribers. Just like Patreon, but without the extra fees
          or lock-in to a platform.
        </li>

    </div>
    -->

    <label class="ios-subheading">FEEDBACK <span style="color:#ff3b30;">Planned Development!</span></label>
    <div class="ios-section" style="padding:0px;">
        <div style="padding: 0.5em 1em; line-height: 1.3em;">

            <div style="text-align: right; color: #888; font-weight: bold;">
                The Musical Mash
                <br/> http://twitter.com/MashMash
            </div>
        </div>

        <div style="border: 1px solid #888; border-radius: 1.5em; padding: 0.5em 0.7em; color: #000; margin-left: 20%; background: #9AC9FF;">
            Please come to our awesome gig, will be debuting our latest album http://youtu.be/ykQLO4f2fI8
        </div>
        <div style="margin-top: 0.7em; border: 1px solid #888; border-radius: 1.5em; padding: 0.5em 0.7em; color: #000; margin-right: 20%; background: #DDD;"> Cool, can I bring a friend?</div>

        <div style="padding: 0.5em 1em; line-height: 1.3em;">

            <div style="text-align: right; color: #888; font-weight: bold;">
                The Musical Mash
                <br/> http://twitter.com/MashMash
            </div>
        </div>

        <div style="border: 1px solid #888; border-radius: 1.5em; padding: 0.5em 0.7em; color: #000; margin-left: 20%; background: #9AC9FF;">
            Of course you can bring a friend :). Would you like discount ticket for your friend? http://yo.yo/f2fI8
        </div>

<br/>
        <div style="padding: 0.5em 1em; line-height: 1.3em;">

            <div style="text-align: right; color: #888; font-weight: bold;">
                New City Architecture
                <br/> https://www.youtube.com/user/Aloon
            </div>
        </div>

        <div style="margin-top: 0.7em; border: 1px solid #888; border-radius: 1.5em; padding: 0.5em 0.7em; color: #000; margin-left: 20%; background: #9AC9FF;"> Preview our new book, "From Arcologies to the Kowloon Walled City". PreOrder now. http://amzn.to/1eH9qG6 </div>


        <div style="background: #C8C9CD;margin-top:5px;  padding: 0.25em; height: 2.8em; border-top: 1px solid #888">
            <div style="background: #5cb85c; border: 1px solid #666; border-radius: 0.8em; color: #fff; padding: 0.25em 1em; font-weight: bold; float: right;"> Send ($0.05)</div>
            <div style="background: #FFF; border: 1px solid #888; border-radius: 0.8em; color: #FFF; padding: 0.25em 1em; margin-right: 5em; font-weight: bold;">
                <br>
            </div>
        </div>
    </div>

    </div>

</body>

</html>
