{% set page = { name: 'blacklist' } %}
<!DOCTYPE html>
<head>
    {% include "head.html" %}
</head>
<body>
    {% include "navbar.html" %}
    <label class="ios-subheading">Feedback Planned Development!</label>
    <div class="ios-section">
        <div>
            The Musical Mash
            <br/> http://twitter.com/MashMash
        </div>
        <div>
            Please come to our awesome gig, will be debuting our latest album http://youtu.be/ykQLO4f2fI8
        </div>
        <div>
            Cool, can I bring a friend?
        </div>
        <div>
            <div>
                The Musical Mash
                <br/> http://twitter.com/MashMash
            </div>
        </div>
        <div>
            Of course you can bring a friend :). Would you like discount ticket for your friend? http://yo.yo/f2fI8
        </div>
        <br/>
        <div>
            <div>
                New City Architecture
                <br/> https://www.youtube.com/user/Aloon
            </div>
        </div>
        <div>
            Preview our new book, "From Arcologies to the Kowloon Walled City". PreOrder now. http://amzn.to/1eH9qG6
        </div>
        <div>
            <div>
                Send ($0.05)
            </div>
        </div>
    </div>
    </div>
    {% include "scripts.html" %}
    <script src="/js/feedback.js"></script>
</body>
</html>
