<!DOCTYPE html>
  <head>
    {% include "head.html" %}
  </head>
  <body class="install">
    <div class="container">
      <h1 class="text-center">
        <img src="/images/heart48x48.png" width="36" height="36" class="d-inline-block align-middle mr-2" alt="ProTip">
        <i class="fa fa-heart-" aria-hidden="true"></i>
        ProTip Setup
    </h1>
    <h3>1. Set your currency</h3>
    <div class="ios-section">
      <select id="fiat-currency-select" class="form-control">
      </select>
      <img class="ajax-loader" id="ajax-loader" src="/images/ajax_loader.gif">
    </div>
    <h3>2. Safely store your bitcoin wallet private key</h3>
    <div class="ios-section">
      <div class="bs-example" data-example-id="media-alignment">
        <div class="media">
          <div class="media-body">
            <p>
              Bitcoin is like email for cash. A public address, like your email, where people can send bitcoins, and a private password to ensure only you can spend received bitcoins. You can trade in your bitcoins at an exchange for your local currency or send them to another address for goods and services.
            </p>
            <div id="private">
              <p>
                This is your private key, save it somewhere safe and private.
              </p>
              <div class="form-group">
                <input type="text" class="form-control" id="private-key-input" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading" id="middle-aligned-media">
              <strong>Or</strong> import existing private key:
            </h4>
            <p>
              <div id="importPrivateKeyPasswordIncorrect" class="alert alert-danger d-none">
                  Your password is incorrect.
              </div>
              <div id="importPrivateKeyBadPrivateKey" class="alert alert-danger d-none">
                  The private key is invalid.
              </div>
              <div id="successAlertLabel" class="alert alert-success d-none">
                Success
              </div>
            <p>
            <p>
              <div id="importPrivateKeyPasswordIncorrect" class="alert alert-danger d-none">
                  Your password is incorrect.
              </div>
              <div id="importPrivateKeyBadPrivateKey" class="alert alert-danger d-none">
                  The private key is invalid.
              </div>
              <div id="successAlertLabel" class="alert alert-success d-none">
                Success
              </div>
              <div class="form-group">
                  <input type="text" class="form-control d-inline" id="importPrivateKeyPrivateKey" placeholder="Private Key">
                  <button id="importPrivateKeyConfirm" type="button" class="btn btn-primary">Import</button>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a id="launch" class="btn btn-lg btn-success float-right">
        Start ProTip
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
    </div>
    {% include "scripts.html" %}
    <script src="/js/install.js"></script>
  </body>
</html>
