<!DOCTYPE html>
  <head>
    {% include "head.html" %}
    <script src="/js/install.js"></script>
  </head>
  <body>
    <h2 class="text-center">
      <span class="glyphicon glyphicon-cog big-icon" aria-hidden="true"></span>
      Quick Start
    </h2>
    <label class="ios-subheading">1. SET YOUR CURRENCY</label>
    <div class="ios-section">
      <select id="fiat-currency-select" class="form-control d-inline">
      </select>
      <img class="ajax-loader" id="ajax-loader" src="../assets/images/ajax_loader.gif" />
    </div>
    <label class="ios-subheading">2. SAFELY STORE YOUR BITCOIN WALLET PRIVATE KEY</label>
    <div class="ios-section">
      <div class="bs-example" data-example-id="media-alignment">
        <div class="media">
          <div class="media-body">
            <p>
              Bitcoin is like email for cash. A public address, like your email, where people can send bitcoins, and a private password to ensure only you can spend received bitcoins. You can trade in your bitcoins at an exchange for your local currency or send them to another address for goods and services.
            </p>
            <div id="private">
              <p>
                This is your private key, save it somewhere safe and private.
              </p>
              <p>
                <input type="text" class="form-group has-warning" id="private-key-input" value="" />
              </p>
            </div>
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading" id="middle-aligned-media">
              <strong>Or</strong> import existing private key:
            </h4>
            <p>
              <div id="importPrivateKeyPasswordIncorrect" class="alert alert-danger d-none">
                  Your password is incorrect.
              </div>
              <div id="importPrivateKeyBadPrivateKey" class="alert alert-danger d-none">
                  The private key is invalid.
              </div>
              <div id="successAlertLabel" class="alert alert-success d-none">
                Success
              </div>
            <p>
            <p>
              <div id="importPrivateKeyPasswordIncorrect" class="alert alert-danger d-none">
                  Your password is incorrect.
              </div>
              <div id="importPrivateKeyBadPrivateKey" class="alert alert-danger d-none">
                  The private key is invalid.
              </div>
              <div id="successAlertLabel" class="alert alert-success d-none">
                Success
              </div>
              <div class="form-group">
                  <input type="text" class="form-control d-inline" id="importPrivateKeyPrivateKey" placeholder="Private Key">
                  <button id="importPrivateKeyConfirm" type="button" class="btn btn-primary">Import</button>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a id="launch" class="btn btn-lg btn-success float-right">
        Start ProTip
        <span class="glyphicon glyphicon-chevron-right big-icon" aria-hidden="true"></span>
      </a>
    </div>
  </body>
</html>
