{% set page = { name: 'options' } %}
<!DOCTYPE html>
  <head>
    {% include "head.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <label class="ios-subheading">
      Currency
    </label>
    <div class="ios-section">
      <select id="fiat-currency-select" class="form-control">
      </select>
      <img class="ajax-loader" id="ajax-loader" src="../assets/images/ajax_loader.gif"/>
    </div>
    <label class="ios-subheading">
      Default Subscription Amount
    </label>
    <div class="ios-section">
      <span class="fiat-code">USD</span>
      <input type="number" id="default-subscription-amount-fiat" step="0.05" min="0.1"></input>
    </div>
    <label class="ios-subheading">
      Example Metatag
    </label>
    <div class="ios-section">
      <textarea id="example-metatag">
      </textarea>
    </div>
    <label class="ios-subheading">
      Console Log
    </label>
    <div class="ios-section">
      <textarea id="console-log"></textarea>
      <button id="clear-log" class="btn btn-xs btn-warning">Clear Log</button>
    </div>
    {% include "scripts.html" %}
    <script src="/js/options.js"></script>
  </body>
</html>
