{% set page = { name: 'passes' } %}
<!DOCTYPE html>
  <head>
    {% include "head.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <!--
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3>Coming Soon  Lightweight Content Passes</h3>
      <h4>For Customers:</h5>
      <ol>
        <li>
          Quickly and securely pay small amounts directly to the artist
        </li>
        <li>
          No need to surrender your credit card, email or social media details
        </li>
      </ol>
      <h4>For Artists</h4>
      <ol>
        <li>
          Perfect for ticket sales and commissions
        </li>
        <li>
          Charge for premium content, such as complete access to your archived work
        </li>
        <li>
          Provide an alternative for your fans who don't want the commitment of an ongoing subscription
        </li>
      </ol>
    </div>
    -->
    <div class="ios-subheading">
        Create New Pass Planned Development
    </div>
    <div class="ios-section">
      <form>
        <table>
          <tr>
            <td>
              <label for="exampleInputEmail1">Your Bitcoin Address</label>
            </td>
            <td>
              <input type="text" id="manual-bitcoin-address" placeholder="13U4gmroMmFwHAwd2Sukn4fE2WvHG6hP8e" disabled="disabled"></input>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">Hidden File URL</label>
            </td>
            <td>
              <input type="text" id="manual-label" placeholder="http://youraddress.com/file.html" disabled="disabled"></input>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">Your Name</label>
            </td>
            <td>
              <input type="text" id="manual-label" disabled="disabled" placeholder="Nixie Pixel"></input>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">Price</label>
            </td>
            <td>
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" disabled="disabled" class="form-control" id="exampleInputAmount" placeholder="Amount">
                  </div>
                </div>
              </form>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">Processor</label>
            </td>
            <td>
              <select id="fiat-currency-select" class="form-control">
                <option value="USD">Self Hosted</option>
                <option value="USD">Third Party</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <p class="help-block">
                Easy self hosting solutions are under development. For example, a Wordpress plugin.
              </p>
              <p>
                <button class="btn btn-lg btn-primary" disabled="disabled">Generate</button>
              </p>
            </td>
          </tr>
        </table>
      </form>
      <hr/>
      <h4>Preview</h4>
      <div>
        <img src="../assets/images/one_time_pass.png">
      </div>
      <h4>Embed this code</h4>
      <textarea>
        <a class="lightweight-ticket" href="https://3rdpartyservice.com/Wa234s2" data-widget-id="577789487167705089"></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.random.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","tesesr-wjs");</script>
      </textarea>
      <h4>Preview of Useage</h4>
      <div>
        <img src="../assets/images/passes_screen_shot.jpg" />
      </div>
    </div>
  </body>
</html>
