<!DOCTYPE html>
  <head>
    {% include "head.html" %}
    <script src="../controllers/popup.js"></script>
  </head>
  <body style="margin-top:0px;width:333px;font-size:85%;min-width:initial;font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;">

    <!-- *** The first link on the popup automatically catches
    a focus and is highlighted, which looks a little strange.
    Using a dummy empty link to hack around this default
    behaviour. *** -->
    <a href=""></a>
    <!-- ************************************* -->
    <div style="height:22px;">
      <div id="reminder-info-container" style="padding:2px;"></div>

      <div style="float:right;font-size:150%;padding-right:5px;">
        <a class="external-link" href="redirect.html">
          <span class="glyphicon glyphicon-new-window"></span>
          Full Screen...
        </a>
      </div>
    </div>
    <div id="notice-dialogue" style="display:none;margin-bottom:5px;" class="alert alert-info" role="alert">
      <p id="notice"></p>
    </div>
    <div id="successAlert" class="alert alert-success alert-dismissable"  style="display: none;">
        <button id="successAlertClose" type="button" class="close">&times;</button>
        <p id="successAlertLabel">Success</p>
    </div>
    <div id="unknownErrorAlert" class="alert alert-danger alert-dismissable"  style="display: none;">
        <button id="unkownErrorAlertClose" type="button" class="close">&times;</button>
        <p id="unknownErrorAlertLabel">Unknown error</p>
    </div>
    <div id="donate-now-reminder" style="display:none;margin-bottom: 4px;margin-top: 3px;padding:4px;" class="alert alert-info" role="alert">
      WEEKLY REMINDER
      <button id="donate-now" style="" type="button" class="btn btn-xs btn-success">
        Donate &amp; Reset Timer (<span class="fiat-code"></span><span id="weekly-spend-manual-pay-reminder-btn"></span>)
      </button>
      <div id="confirm-donate-now-dialogue" style="display:none;margin:5px 0 0 0;" class="alert" role="alert">
        <p>
          You will be donating to all the websites listed in the table below.
        </p>
        <p>
          You can quickly remove any websites from the list by clicking the <span class="glyphicon glyphicon-remove big-icon" style="color:#ff9500" aria-hidden="true"></span>.
        </p>
        <p>
          All your previous web browsing data will be wiped clear.
        </p>
        <p>
          <button type="button" data-loading-text="Sending..." id="confirm-donate-now" class="btn btn-xs btn-primary">Yes, Send My Donations</button>
          <button type="button" id="confirm-donate-cancel" class="btn btn-xs btn-default">Cancel</button>
        </p>
      </div>
    </div>
    <div id="insufficient-funds-dialogue" style="display:none;margin: 3px 0px 3px;padding: 9px;" class="alert alert-warning alert-dismissible fade in" role="alert">
      <p>
        Insufficient funds.
      </p>
    </div>
    <table class="table table-condensed" style="margin-bottom:0px;">
      <thead>
        <tr>
          <th scope="col" style="text-align:center;">
            <span class="glyphicon glyphicon-heart" style="color:#7FE56F" aria-hidden="true" title="Subscribe"></span>
            Subscribe
          </th>
          <th scope="col" style="width: 165px;">
          </th>
          <th scope="col" style="text-align:center;vertical-align:middle;">
            <span class="fiat-code">USD</span>
          </th>
          <th scope="col" style="text-align:center;vertical-align:middle;">
            <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>#
          </th>
          <th scope="col" style="text-align:center;vertical-align:middle;">
            Ignore
          </th>
        </tr>
      </thead>
      <tbody id="browsing-table">
      </tbody>
    </table>
    <div style="float:right;padding:2px;">
      Weekly spend: <span class="fiat-code"></span><strong><span id="total-fiat-amount"></span></strong>
      (Total Avail: </span><span id="btc-balance-to-fiat">~ Loading... </span>)
    </div>
  </body>
</html>
