<!DOCTYPE html>
  <head>
    {% include "head.html" %}
    <script src="/js/popup.js"></script>
  </head>
  <body>
    <!-- *** The first link on the popup automatically catches
    a focus and is highlighted, which looks a little strange.
    Using a dummy empty link to hack around this default
    behaviour. *** -->
    <a href=""></a>
    <!-- ************************************* -->
    <div>
      <div id="reminder-info-container"></div>
      <div class="float-right">
        <a class="external-link" href="redirect.html">
          <span class="glyphicon glyphicon-new-window"></span>
          Full Screen...
        </a>
      </div>
    </div>
    <div id="notice-dialogue" class="alert alert-info d-none" role="alert">
      <p id="notice"></p>
    </div>
    <div id="successAlert" class="alert alert-success alert-dismissable d-none">
        <button id="successAlertClose" type="button" class="close">&times;</button>
        <p id="successAlertLabel">Success</p>
    </div>
    <div id="unknownErrorAlert" class="alert alert-danger alert-dismissable d-none">
        <button id="unkownErrorAlertClose" type="button" class="close">&times;</button>
        <p id="unknownErrorAlertLabel">Unknown error</p>
    </div>
    <div id="donate-now-reminder" class="alert alert-info d-none" role="alert">
      Weekly Reminder
      <button id="donate-now" type="button" class="btn btn-xs btn-success">
        Donate &amp; Reset Timer (<span class="fiat-code"></span><span id="weekly-spend-manual-pay-reminder-btn"></span>)
      </button>
      <div id="confirm-donate-now-dialogue" class="alert d-none" role="alert">
        <p>
          You will be donating to all the websites listed in the table below.
        </p>
        <p>
          You can quickly remove any websites from the list by clicking the
          <span class="" aria-hidden="true">X</span>.
        </p>
        <p>
          All your previous web browsing data will be wiped clear.
        </p>
        <p>
          <button type="button" data-loading-text="Sending..." id="confirm-donate-now" class="btn btn-xs btn-primary">Yes, Send My Donations</button>
          <button type="button" id="confirm-donate-cancel" class="btn btn-xs btn-default">Cancel</button>
        </p>
      </div>
    </div>
    <div id="insufficient-funds-dialogue" class="alert alert-warning alert-dismissible d-none" role="alert">
      <p>
        Insufficient funds.
      </p>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th scope="col" class="text-center">
            <span class="glyphicon glyphicon-heart text-success" aria-hidden="true" title="Subscribe"></span>
            Subscribe
          </th>
          <th scope="col">
          </th>
          <th scope="col" class="text-center">
            <span class="fiat-code">USD</span>
          </th>
          <th scope="col" class="text-center align-middle">
            <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>#
          </th>
          <th scope="col" class="text-center align-middle">
            Ignore
          </th>
        </tr>
      </thead>
      <tbody id="browsing-table">
      </tbody>
    </table>
    <div class="float-right">
      Weekly spend: <span class="fiat-code"></span><strong><span id="total-fiat-amount"></span></strong>
      (Total Avail: </span><span id="btc-balance-to-fiat">~ Loading... </span>)
    </div>
  </body>
</html>
