{% set page = { name: 'recommend' } %}
<!DOCTYPE html>
<head>
    {% include "head.html" %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="ios-subheading">
      Early Adopters
    </div>
    <div class="ios-section">
      <div class="media">
        <div class="media-left">
              <a href="#">
                <img class="media-object" src="../assets/artists/xkcd.png">
              </a>
            </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="https://xkcd.com">XKCD</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            Warning: this comic occasionally contains strong language (which may be unsuitable for children),
            unusual humor (which may be unsuitable for adults), and advanced mathematics (which may be
            unsuitable for liberal-arts majors).
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
              <a href="#">
                <img class="media-object" src="../assets/artists/singing_pictures.jpg">
              </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="https://twitter.com/singingpictures">Shem - Singing Pictures</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            <a href="http://www.ensink.co.uk/" target="_blank">Uk Artists The Singing Pictures Rhys Lewis &amp; Shem Booth-Spain's latest music video "Stuff" has </a>now been officially launched live from New York City! Working in colloboration with The <a href="http://www.harmonylabel.com/" target="_blank">Harmony Label</a>,&nbsp;Ensink productions the band are excited to bring to you their 2nd single from their debut masterclass album #Dream.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
              <a href="#">
                <img class="media-object" src="../assets/artists/dan_carlin.jpg">
              </a>
        </div>
        <div class="media-body">
              <h4 class="media-heading" id="top-aligned-media">
                <a target="_blank" href="http://www.dancarlin.com/dc-donate/">Dan Carlin</a>
                <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
              </h4>
              <p>He’s been called a lot of things, but no one says that Dan Carlin is boring. His two long-running podcasts are among the most popular in the world. Part storyteller, part analyst, Carlin has mastered the art of looking at subjects from multiple angles and dissecting and thinking about them in original ways. He isn’t afraid to go deep or to inject historical context into modern debates. Whether its history or current events he’s discussing, his passion is contagious, his approach refreshing and his ideas tickle your brain in all the right places. He’ll make you mad too. You’ll like it.</p>
            </div>
      </div>
      <div class="media">
        <div class="media-left">
              <a href="#">
                <img class="media-object" src="../assets/artists/tom_woods.jpg">
              </a>
            </div>
        <div class="media-body">
              <h4 class="media-heading" id="top-aligned-media">
                <a target="_blank" href="http://www.dancarlin.com/dc-donate/">Tom Woods</a>
                <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
              </h4>
              <p>
                Retired from teaching in corrections education. Now pursues rock hounding and jewellery making.
              </p>
            </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/oliver_masiosare.jpg">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="https://www.youtube.com/channel/UCmSziBeGk4fQHdsfuJy5klw">Masiosare Oliver</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            Translator.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/soumitra.jpg">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="http://ananyaitsunique.blogspot.in">Soumitra</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            Here I will be sharing my thoughts through my poems and my knowledge about our culture and mythology in Hindi.
            I am a housewife. The thought comes to my mind too comfortable and old memories, they are I through poetry in simple Hindi language with you "share" do. I prefer to read my blog and I am grateful to all of you.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/pinguino.png">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="http://spelunk.in">Pinguino</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            The real future of cryptocurrencies – the one that nearly all of its proponents daydream about publicly or perhaps privately – lies in extending their use far beyond today’s tiny group of technologically-adept early adopters and risk-embracing speculators.  The only way for Bitcoin, Litecoin, or other systems to live up to their full potential as a transformative economic device is through widespread adoption throughout society.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/bitcorati.png">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="http://bitcorati.com/">Bitcorati</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            We offer a professional community of leaders and experts in areas such as cryptography, digital currency, finance, economics, engineering, and law. The Bitcorati also provide insights, reviews and ratings on bitcoin business and the growing number of merchants accepting bitcoins worldwide!
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/john_light.png">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="http://p2pconnects.us/">John Light</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            Shining Light on the Peer-to-Peer Economy.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/p_emerson.jpg">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="https://pemersonwilliams.wordpress.com/">P Emerson</a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            P. Emerson Williams is an artist and illustrator whose work takes shape in physical and digital media, and covers wide modes of expression. His passion is for embodying the mythic in visual media and melding visual art with narrative form. P. Emerson Williams illustrated Bedlam Stories – The Battle for Oz and Wonderland Begins, a novel set in the universe of Bedlam Stories, a twisted world of horror created by cult film director Pearry Teo (The Gene Generation, Necromentia, Witchville).
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/pink_house_music_tribe.jpg">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="https://soundcloud.com/pinkhousemusictribe/">Pink House Music Tribe
            </a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            We live in a pink house...<br>We have 3 dogs...<br>2 Chairs...<br>a half of a bagel sandwich from sharky's...<br>And one awesomely fantasmic mediocre bedroom recording studio.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../assets/artists/histories_of_things_to_come.jpg">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading" id="top-aligned-media">
            <a target="_blank" href="https://historiesofthingstocome.blogspot.co.uk">
              Histories of Things to Come
            </a>
            <a class="anchorjs-link" href="#top-aligned-media"><span class="anchorjs-icon"></span></a>
          </h4>
          <p>
            This blog describes Metatime in the Posthuman experience, drawn from Sir Isaac Newton's secret work on the future end of times, a tract in which he described Histories of Things to Come. His hidden papers on the occult were auctioned to two private buyers in 1936 at Sotheby's, but were not available for public research until the 1990s.
          </p>
        </div>
      </div>
  </div>
</body>
</html>
