{% set page = { name: 'subscriptions' } %}
<!DOCTYPE html>
  <head>
    {% include "head.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <label class="ios-subheading">
      Subscriptions
    </label>
    <span id="subscription-total-amount-container" class="label label-info">
      Total <span id="subscription-total-amount">x</span> <span class="fiat-code"></span> weekly
    </span>
    <div class="ios-section">
      <table class="table table-condensed" id="subscription-table">
        <thead>
          <tr>
            <th scope="col" class="text-center">
              <i class="fa fa-heart-o" aria-hidden="true" title="Subscribe"></i>
            </th>
            <th scope="col">Label</th>
            <th scope="col"><span class="fiat-code">USD</span></th>
            <th scope="col"><i class="fa fa-bitcoin" aria-hidden="true"></i>#</th>
          </tr>
        </thead>
        <tbody id="subscription-tbody">
        </tbody>
      </table>
    </div>
    <label class="ios-subheading">Manual Subscription</label>
    <div class="ios-section">
    <form class="" name="manualSubscriptionForm" id="manualSubscriptionForm" method="get" action="" novalidate="novalidate">
        <table>
          <tr>
            <td class="text-right">
              <label for="exampleInputEmail1">Address</label>
            </td>
            <td>
              <input type="text" required="" name="manualBitcoinAddress" id="manualBitcoinAddress" placeholder="13U4gmroMmFwHAwd2Sukn4fE2WvHG6hP8e"></input>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="amount">Amount</label>
            </td>
            <td>
              <input type="number" required="" name="amount" id="manual-amount-fiat" min="0.01" step="0.01" placeholder="0.14">
              <span class="fiat-code">USD</span> weekly <label id="manual-amount-fiat-error" class="error" for="manual-amount-fiat"></label>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="manual-label">Label</label>
            </td>
            <td>
              <input type="text" id="manual-label" name="manual-label" required placeholder="Jane Citizen"></input>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">URL</label>
            </td>
            <td>
              <input type="url" name="manual-url" id="manual-url" required placeholder="http://example.com"></input>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" class="submit btn btn-primary btn-xs" id="manual-subscribe-btn" value="Subscribe" />
            </td>
          </tr>
        </table>
      </form>
    </div>
    <div id="protip-subscription-form" class="alert alert-info alert-dismissible" role="alert">
      <button type="button" id="show-protip-subscription-close" class="close" data-dismiss="alert" aria-label="Close">
        Close
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
      <button type="button" id="hideProTipSubscription" class="close" data-dismiss="alert" aria-label="Permanently Hide">
        Permanently Hide
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
      <h4>
        Please consider supporting ProTip's ongoing development with a weekly subscription.
      </h4>
      <form id="" class="form">
        <table>
          <tr>
            <td class="text-right">
              <label for="exampleInputEmail1">Address</label>
            </td>
            <td>
              <input type="text" id="protip-bitcoin-address" placeholder="1ProTip9x3uoqKDJeMQJdQUCQawDLauNiF" value="1ProTip9x3uoqKDJeMQJdQUCQawDLauNiF"></input>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">Amount </label>
            </td>
            <td>
              <input type="number" id="protip-amount-fiat" min="0.01" step="0.01" placeholder="0.14" value="0.25"> <span class="fiat-code">USD</span> weekly
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">Label</label>
            </td>
            <td>
              <input type="text" id="protip-label" value="ProTip" placeholder="Jane Citizen"></input>
            </td>
          </tr>
          <tr>
            <td class="text-right">
              <label for="exampleInputPassword1">URL</label>
            </td>
            <td>
              <input type="text" value="my.protip.is" id="protip-url" placeholder="http://example.com"></input>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button class="btn btn-success btn-xs" id="protip-subscribe-btn">Add ProTip Subscription</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    {% include "scripts.html" %}
    <script src="/js/subscriptions.js"></script>
  </body>
</html>
