{% set page = { name: 'subscriptions' } %}
<!DOCTYPE html>
  <head>
    {% include "head.html" %}
    <script src="../controllers/subscriptions.js"></script>
  </head>
  <body>
    {% include "navbar.html" %}

    <label class="ios-subheading">
      SUBSCRIPTIONS
    </label>
    <span id="subscription-total-amount-container" class="label label-info" style="font-size:11px;margin-left:10px;">
      Total <span id="subscription-total-amount">x</span> <span class="fiat-code"></span> weekly
    </span>
    <div class="ios-section" style="padding: 0px;">
      <table class="table table-condensed" id="subscription-table">
        <thead>
          <tr>
            <th scope="col" style="text-align:center;">
              <span class="glyphicon glyphicon-heart" aria-hidden="true" title="Subscribe"></span>
            </th>
            <th scope="col" style="width:100%;">Label</th>
            <th scope="col"><span class="fiat-code">USD</span></th>
            <th scope="col"><span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span>#</th>
          </tr>
        </thead>
        <tbody id="subscription-tbody">
        </tbody>
      </table>
    </div>

    <label class="ios-subheading">MANUAL SUBSCRIPTION</label>
    <div class="ios-section">
    <form class="" name="manualSubscriptionForm" id="manualSubscriptionForm" method="get" action="" novalidate="novalidate">
        <table>
          <tr>
            <td style="text-align:right">
              <label for="exampleInputEmail1">Address</label>
            </td>
            <td>
              <input type="text" required="" name="manualBitcoinAddress" id="manualBitcoinAddress" style="width:350px;margin:5px;" placeholder="13U4gmroMmFwHAwd2Sukn4fE2WvHG6hP8e"></input>
            </td>
          </tr>
          <tr>
            <td style="text-align:right">
              <label for="amount">Amount </label>
            </td>
            <td>
              <input type="number" required="" name="amount" id="manual-amount-fiat" min="0.01" step="0.01" style="width:64px;margin:5px;" placeholder="0.14"> <span class="fiat-code">USD</span> weekly <label id="manual-amount-fiat-error" class="error" for="manual-amount-fiat"></label>
            </td>
          </tr>
          <tr>
            <td style="text-align:right">
              <label for="manual-label">Label</label>
            </td>
            <td>
              <input type="text" id="manual-label" name="manual-label" required style="width:200px;margin:5px;" placeholder="Jane Citizen"></input>
            </td>
          </tr>
          <tr>
            <td style="text-align:right">
              <label for="exampleInputPassword1">URL</label>
            </td>
            <td>
              <input type="url" name="manual-url" id="manual-url" required style="width:200px;margin:5px;" placeholder="http://example.com"></input>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input type="submit" class="submit btn btn-primary btn-xs" id="manual-subscribe-btn" value="Subscribe" />
            </td>
          </tr>
        </table>
      </form>
    </div>


    <div id="protip-subscription-form" style="display:none;overflow:hidden;margin-top:40px;" class="alert alert-info alert-dismissible fade in" role="alert">

      <button type="button" id="show-protip-subscription-close" class="close" style="" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>

      <span style="font-weight:bold;display:block;float:right;font-size:10px;padding-right:50px;">
        [
          <a id="hideProTipSubscription" href="" data-dismiss="alert">
            Permanently Hide
            <span aria-hidden="true">×</span>
          </a>
        ]
      </span>

      <h4>
        Please consider supporting ProTip's ongoing development with a weekly subscription.
      </h4>

      <form id="">
        <table>
          <tr>
            <td style="text-align:right">
              <label for="exampleInputEmail1">Address</label>
            </td>
            <td>
              <input type="text" id="protip-bitcoin-address" style="width:350px;margin:5px;" placeholder="1ProTip9x3uoqKDJeMQJdQUCQawDLauNiF" value="1ProTip9x3uoqKDJeMQJdQUCQawDLauNiF"></input>
            </td>
          </tr>
          <tr>
            <td style="text-align:right">
              <label for="exampleInputPassword1">Amount </label>
            </td>
            <td>
              <input type="number" id="protip-amount-fiat" min="0.01" step="0.01" style="width:64px;margin:5px;" placeholder="0.14" value="0.25"> <span class="fiat-code">USD</span> weekly
            </td>
          </tr>
          <tr>
            <td style="text-align:right">
              <label for="exampleInputPassword1">Label</label>
            </td>
            <td>
              <input type="text" id="protip-label" value="ProTip" style="width:200px;margin:5px;" placeholder="Jane Citizen"></input>
            </td>
          </tr>
          <tr>
            <td style="text-align:right">
              <label for="exampleInputPassword1">URL</label>
            </td>
            <td>
              <input type="text" value="my.protip.is" id="protip-url" style="width:200px;margin:5px;" placeholder="http://example.com"></input>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button class="btn btn-success btn-xs" id="protip-subscribe-btn">Add ProTip Subscription</button>
            </td>
          </tr>
        </table>
      </form>


    </div>



  </body>
</html>
