<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ProTip</title>
<meta name="description" content="ProTip keeps track of how much time you spend on various web sites and records Bitcoin address from those sites for tipping, donations, and crowdfunding.">

<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<!--
<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-responsive-override.css">
-->
<link rel="stylesheet" href="/libs/switchery/standalone/switchery.css">
<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/protip.css">

<script src="/libs/webextension-polyfill/dist/browser-polyfill.min.js"></script>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/switchery/standalone/switchery.js"></script>
<script src="/libs/ydn.db/jsc/ydn.db.js"></script>

<script src="/js/ydn.db.schema.js"></script>
<script src="/js/bundle.js"></script>
