<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ProTip</title>
<meta name="description" content="ProTip keeps track of how much time you spend on various web sites and records Bitcoin address from those sites for tipping, donations, and crowdfunding.">

<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/libs/switchery/standalone/switchery.css">
<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/protip.css">
