<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container nav-non-responsive">
      <a class="navbar-brand" href="/views/home.html">
        <img src="/images/heart48x48.png" width="30" height="30" class="d-inline-block align-top" alt="">
          ProTip
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item {% if page.name == "home" %}active{% endif %}">
          <a href="home.html">
            <div class="menu-icon">
              <span class="glyphicon glyphicon-home big-icon" aria-hidden="true"></span>
            </div>
            <div class="menu-label">Home</div>
          </a>
        </li>
        <li class="nav-item{% if page.name == "subscriptions" %} active{% endif %}">
          <a id="subscriptions" href="subscriptions.html">
            <div class="menu-icon">
                <i class="fa fa-btc" aria-hidden="true"></i>
                <span class="fa fa-heart-o" aria-hidden="true"></span>
            </div>
            <div class="menu-label">Subscriptions</div>
          </a>
        </li>
        <li class="nav-item{% if page.name == "wallet" %} active{% endif %}">
          <a href="wallet.html">
            <div class="menu-icon">
              <span class="glyphicon glyphicon-piggy-bank big-icon" aria-hidden="true"></span>
            </div>
            <div class="menu-label">
              Wallet
            </div>
          </a>
        </li>
        <li class="nav-item{% if page.name == "blacklist" %} active{% endif %}">
          <a id="blacklist" href="blacklist.html">
            <div class="menu-icon">
              <span class="glyphicon glyphicon-remove big-icon" aria-hidden="true"></span>
            </div>
             <div class="menu-label">Ignore</div>
          </a>
        </li>
        <li class="nav-item{% if page.name == "options" %} active{% endif %}">
          <a href="options.html">
            <div class="menu-icon">
              <span class="glyphicon glyphicon-cog big-icon" aria-hidden="true"></span>
            </div>
            <div class="menu-label">Options</div>
          </a>
        </li>
        <li class="nav-item{% if page.name == "recommend" %} active{% endif %}">
          <a href="recommend.html">
            <div class="menu-icon">
              <i class="fa fa-group"></i>
            </div>
            <div class="menu-label">Recommended</div>
          </a>
        </li>
        <!--
        <li {% if page.name == "passes" %}active{% endif %}">
          <a id="paywalls" href="passes.html">
            <div id="menu-pass-icon"></div>
            <div class="menu-label">Passes</div>
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>
</nav>
