<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand ml-2" href="/views/home.html">
        <img src="/images/heart48x48.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="ProTip">
        ProTip
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item {% if page.name == "home" %}active{% endif %}">
              <a href="home.html" class="nav-link">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
              </a>
            </li>
            <li class="nav-item {% if page.name == "subscriptions" %}active{% endif %}">
              <a href="subscriptions.html" class="nav-link">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                Subscriptions
              </a>
            </li>
            <li class="nav-item {% if page.name == "wallet" %}active{% endif %}">
              <a href="wallet.html" class="nav-link">
                <i class="fa fa-bitcoin" aria-hidden="true"></i>
                Wallet
              </a>
            </li>
            <li class="nav-item {% if page.name == "blacklist" %}active{% endif %}">
              <a href="blacklist.html" class="nav-link">
                <i class="fa fa-remove" aria-hidden="true"></i>
                Ignore
              </a>
            </li>
            <li class="nav-item {% if page.name == "options" %}active{% endif %}">
              <a href="options.html" class="nav-link">
                <i class="fa fa-cog" aria-hidden="true"></i>
                Options
              </a>
            </li>
            <li class="nav-item {% if page.name == "recommend" %}active{% endif %}">
              <a href="recommend.html" class="nav-link">
                <i class="fa fa-group" aria-hidden="true"></i>
                Recommended
              </a>
            </li>
            <!--
            <li class="nav-item" {% if page.name == "passes" %}active{% endif %}">
              <a href="passes.html" class="nav-link">
                <i class="fa fa-pass" aria-hidden="true"></i>
                Passes
              </a>
            </li>
            -->
        </ul>
    </div>
</nav>
