<script src="/libs/webextension-polyfill/dist/browser-polyfill.min.js"></script>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/libs/switchery/standalone/switchery.js"></script>
<script src="/libs/ydn.db/jsc/ydn.db.js"></script>
<script src="/libs/lodash/lodash.min.js"></script>

<script src="/js/ydn.db.schema.js"></script>
<script src="/js/bundle.js"></script>
